@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

*{
    box-sizing: border-box;
}


body {
  background-color: #1b262c;
  font-family: 'Sen', sans-serif;
  box-sizing: border-box;
  color:white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #424874;
  border-radius: 40px;

}
.mbuddy span{
    color: #f7b71d;

}
.mbuddy a{
  border: 1px solid white;
  border-radius: 40px;
  margin-left: 5px;
  padding: 4px;
  font-size: 2em;
  text-decoration: none;
  color: white;

}
.mbuddy{
  text-align: center;
  font-size: 4em;
  margin-top: 20%;
}

.logo span {
  color: #f7b71d;
}

.logo a {
  border: 1px solid white;
  border-radius: 40px;
  margin-left: 5px;
  padding: 4px;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.links ul {
  list-style-type: none;
}

.link li>a {
  text-decoration: none;
  color: white;
}

.link li {
  display: inline-block;
  margin-left: 18px;
}

.link li>a:hover {
  border: 1px solid white;
  background-color: #b21f66;
  padding: 4px;
  border-radius: 40px;
  transition: 0.3s;


}

.contact a>button {
  border-radius: 40px;
  border: none;
  font-size: 20px;
  background-color:#05dfd7;
  margin-right: 5px;

}

.contact a>button>span {
  color:white;
}

.contact a>button:hover {
transform: scale(1.1);
cursor: pointer;
}

.header{
  font-size:40px;
  font-family: verdana;
  font-weight: lighter;
  padding: 4px;
  border-bottom:1px solid white;
  border-width:thin;



}
.img{
  height: 300px;
  width: 400px;
  padding: 14px;
  border-radius:20px;

}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  padding: 4px;

}
.img:hover{

  cursor: pointer;
  transform: scale(1.1);

}
.homeheader{
  text-align: center;
  margin-top: 10%;
}
.homebutton{
  border-radius:50px;
  border:none;
  font-size: 28px;
  font-family:verdana;
  color: white;
  background-color:tomato;
  padding: 14px;

}

.home span{
    color: #f7b71d;
}
.homebutton:hover{
  cursor:pointer;
  transform: scale(1.2);
}
